* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #eee;
}

#top-logo-bar {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.sticky {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

#logo {
    width: 290px;
    height: 150px;
    float: left;
}

#logo-text {
    padding: 20px;
    height: 50px;
    float: left;
    font-size: 18px;
    letter-spacing: 1px;
}

#nav {
    width: 100%;
    height: 50px;
    background-color: #091c3b;
    z-index: 100;
    margin-bottom: 25px;
}

#lokalizacja {
    top: 0;
    z-index: 0;
    padding: 10px;
    width: 710px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(14, 133, 191);
}

.go-back-button {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    border-radius: 30%;
    border: 0;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 50px;
    width: 150px;
    height: 100px;
    background-color: rgb(14, 133, 191);
    transition: 0.25s all ease-in-out;
}

.go-back-button:hover {
    cursor: pointer;
    background-color: rgb(34, 153, 211);
}

.pasek {
    height: 135px;
    width: 100%;
    background-color: rgb(34, 153, 211);
}

.box-shadow {
    -webkit-box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.37);
    box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.37);
}

#slider {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 600px;
}

.nav-item {
    display: block;
    width: 180px;
    min-height: 38px;
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 12px;
    transition: 0.25s background-color ease-out, 0.25s color ease-out;
}

.nav-item > ul {
    margin-top: 8px;
}

.nav-item-list-item {
    position: relative;
    display: none;
    height: 31px;
    width: 180px;
    padding-top: 8px;
    background-color: #0a2d4c;
    color: #ccc;
    transition: 0.15s color ease-out, 0.15s background-color ease-out;
    z-index: 100;
}

.nav-item:hover {
    background-color: #0a2d4c;
    color: #ef983b;
    cursor: pointer;
}

.nav-item > ul > a {
    text-decoration: none;
}

.nav-item:hover > ul > a > .nav-item-list-item {
    display:list-item;
}

.nav-item:hover > ul > a > .nav-item-list-item:hover {
    color: #eee;
    background-color: #1b3e5d;
}

ul {
    list-style-type: none;
}

#nav-item-container {
    width: 1460px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.fast-travel-nav {
    margin-top: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    height: 100px;
}

.travel-button {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: #eee;
    width: 190px;
    height: 95px;
    border-radius: 20%;
    background-color: #ef983b;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 25px;
    transition: 0.25s background-color ease-out;
}

.travel-button:hover {
    background-color: #ce7619;
    cursor: pointer;
}

#kierunki-ksztalcenia {
    width: 845px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.main-header {
    text-align: center;
    height: 60px;
    margin-top: 150px;
    margin-bottom: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: 400;
    border-bottom: 2px solid #ce7619;
}

#patron {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 934px;
    margin-top: 50px;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(34, 153, 211);
    color: white;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 400px;
    padding-top: 300px;
    transition: 0.5s opacity ease-out;
}

.technikum-oferta {
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.kierunek-main {
    position: relative;
    width: 400px;
    height: 300px;
    float: left;
}

.kierunek-link {
    color: white;
    text-align: center;
    position: absolute;
    padding-top: 100px;
    font-size: 20px;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-color: #ce7619;
    width: 400px;
    height: 200px;
    transition: 0.25s opacity ease-out;
}

.kierunek-main:hover {
    cursor: pointer;
}

.kierunek-main:hover > .kierunek-link {
    opacity: 0.8;
}

#patron:hover {
    cursor: pointer;
}

#patron:hover > .link {
    opacity: 0.6;
}

#footer {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 175px;
    background-color: #091c3b;
    margin-top: 300px;
    padding: 10px;
}

.footer-text {
    color: lightblue;
    width: 800px;
    float: left;
    text-align: center;
    padding-top: 40px;
}

.elektronik-logo-footer {
    margin: 10px;
    float: left;
}

.ogloszenia {
    width: 1210px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.ogloszenie {
    position: relative;
    background-color: #ddd;
    text-align: center;
    border: 1px solid #0a2d4c;
    float: left;
    margin: 20px;
    width: 330px;
    height: 215px;
    padding: 10px;
    transition: 0.25s border ease-out;
}

.ogloszenie-border {
    width: 150px;
    height: 2px;
    background-color: #ce7619;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ogloszenie:hover {
    transform: translateY(-5px);
    cursor: pointer;
    border: 1px solid #ce7619;
}

.tytul-ogloszenia {
    opacity: 0.8;
    font-size: 22px;
    font-weight: 900;
    height: 20px;
    width: 100%;
    padding: 5px;
    top: 10;
    transition: 0.25s color ease-out;
}

.tekst-ogloszenia {
    text-align: justify;
    font-size: 17px;
    padding: 10px;
}

.ogloszenie-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 900;
    text-align: center;
    opacity: 0;
    color: #ce7619;
    transition: 0.25s opacity ease-out;
    margin-bottom: 10px;
}

.ogloszenie:hover > .ogloszenie-link {
    opacity: 1;
}

.partnerzy {
    width: 925px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button-ogloszenia {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 225px;
}

.button-ogloszenia > button {
    font-size: 20px;
    border: 0;
    background-color: #ef983b;
    height: 75px;
    width: 225px;
    transition: 0.5s background-color ease-out, 0.25s color ease-out;
    font-weight: 900;
    color: #ddd;
}

.button-ogloszenia:hover > button {
    cursor: pointer;
    background-color: #ce7619;
}