
.icon-user-add:before { content: '\e800'; } /* '' */
.icon-desktop:before { content: '\e801'; } /* '' */
.icon-news:before { content: '\e802'; } /* '' */
.icon-graduation-cap:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
